@charset "ISO-8859-1";
body{
		
		padding: 0;
		/*  background-color: #b5a397;*/
		background-color: #ffffff;
		
	}
	.div1{
	 background-color:#ffffff; 
	/* E9C92D */
	padding-bottom: 10px;

	}
	
	.div3{
	 background-color:#ffffff; 

	}
	
	
	h1{
		text-align: center;
	}
	textarea{
	
    	height: 150px;
    	 
	}
/* 	p{
	margin-top:20px;
		text-align: center;
		font-weight: bold;
	} */
	
	p{
	margin-top:20px;
		text-align: center;
		color:#000000;
	}
.container{
	max-width: 100%;
	
}
.out{
 width: 30px;
 height: 25px; 
 background-color: #000000;
 color:#ffffff;
 border-radius: 30%;
 text-align: center; 
}	
	
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 20%;
  height: 5px;
  background: #000000;
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
  text-align: center;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 50px;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}	
	

.jscolor
{
	border-radius: 10px;
	box-shadow: none;
	border-color:#fff; 
}
.card{
	background-color: #ffddc0;
	border: 0px;
}
.card1{
	margin-top:20px;
	background-color: transparent;
	
}
.card2{
	margin-top:20px;
	 background-color: #ffffff;
	border: 1px solid white; 
	
}

